*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.hero{
    padding: 10px;
    margin: 10px;
    background:linear-gradient(rgb(94, 94, 184)) ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.calender{
    background-color: blanchedalmond;
    width: 300px;
   height: 250px;
   display: flex;
    align-items: center;
    
    border-radius: 10px;
}
#date{
    font-size: 100px;
    line-height: 90px;
}
.right,.left{
    width: 50%;
    height: 250px; 
    

   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;

}
.right{
    width: 42%;
    background-color: brown;
}
.left{
    width: 58%;
}